<!--flaskr/templates/base.html-->
<!doctype html>
<head>



<title>{% block title %}{% endblock %} - Flaskr</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
<nav>
  <h1>Monitoring Dashboard</h1>

  <input class="Home_Btn" type="button" onclick="location.href='/';" value="Home">
  <input class="Setting_Btn" type="button" onclick="location.href='/Setting/setting_index';" value="Setting">
  <input class="Test_Btn" type="button" onclick="location.href='/Test/test_index';" value="Test" >
  <input class="Dashboard_Btn" type="button" onclick="location.href='/dashboard/monitoring';" value="Dashboard" >
</nav>

<section class="content">
  <header>
    {% block header %}
    
    {% endblock %}
  </header>
 
    
    {% block content %}
    
    {% endblock %}

    {% block footer %}
    <p style="text-align:right">Wono Dashboard V1.0</p>
    {% endblock %}
  <script>

  </script>
  </body>
</section>
