<!--flaskr/templates/base.html-->
<!doctype html>
<head>



<title>{% block title %}{% endblock %} - Flaskr</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
<nav>
  <h1>Monitoring Dashboard</h1>

  <input type="button" onclick="location.href='/';" value="Home">
  <input type="button" onclick="location.href='Setting/setting_index';" value="Setting">
  <input type="button" onclick="location.href='Control/control_index';" value="Control" disabled >
  <input type="button" onclick="location.href='Monitoring/monitoring_index';" value="Monitoring" disabled>
  <input type="button" onclick="location.href='dashboard/monitoring';" value="Dashboard" disabled>
</nav>

<section class="content">
  <header>
    {% block header %}
    
    {% endblock %}
  </header>
 
    
    {% block content %}
    
    {% endblock %}

    {% block footer %}
    <p style="text-align:right">Wono Dashboard V1.0</p>
    {% endblock %}
  <script>

  </script>
  </body>
</section>
