{% extends 'base.html' %}

{% block title %}Setting{% endblock %}
{% block head %}
  {{ super() }}
  <!--<style type="text/css">
    .important { color: #336699; }
  </style>
  -->
{% endblock %}
{% block content %}
<div class="User_Setting" style="display:flex">
  <div class="User_Icon">
    <img src="{{ url_for('static',filename='User.png') }}/" alt="My Image">
  </div> <!-- User_Icon End -->

  <div class="User_Information">


    {% if is_loginOK %}
    <div class="login_user__name" style="display:flex">
     <span> User ID : </span>
     <span> Master </span>
    </div>

    <div class="login_user__email" style="display:flex">  
      <span> Emaii : </span>
      <span> parkwonho94@gmail.com </span>
    </div>

    <form class="user_setting__LogoutBtn" action="/User/Logout/" method="post" onclick="logout_click()">
      <button class="user_logout__btn" type="submit" name="User_Logout" >Logout</button> 
    </form>
    {% else %}
    <div class="setting_user__name">
      <label for="user_id"> User ID : </label>
      <input type="text" id="user_id" name="user_id">
    </div>

    <div class="setting_user__email">  
      <label for="user_pw"> User PW : </label>
      <input type="text" id="user_pw" name="user_pw">
    </div>

    <div style="display:flex">
      <form class="user_setting__LoginBtn" action="/User/Login/" method="post" onclick="login_click()">
        <button class="user_login__btn" type="submit" name="User_Login" >Login</button> 
      </form>

      <form class="user_setting__regBtn" action="/User/Register/" method="post">
        <button class="user_register__btn" type="submit" name="User_Register" >Register</button> 
      </form>
    
    </div>
    {% endif %}
  </div> <!-- User_Information End -->
</div> <!--User_Setting End-->

<script>
function login_click(){
  alert("Login Success!");
  
  localStorage.setItem("login_status", "True");
  document.querySelector(".Setting_Btn").disabled=false; 
  document.querySelector(".Test_Btn").disabled=false; 
  document.querySelector(".Dashboard_Btn").disabled=false; 
}

function logout_click(){
  alert("Logout Success!");

  localStorage.removeItem('login_status');
}

function load_index_page(){
  let login_status=localStorage.getItem("login_status");

  if (login_status==null){
  document.querySelector(".Setting_Btn").disabled=true; 
  document.querySelector(".Test_Btn").disabled=true;
  document.querySelector(".Dashboard_Btn").disabled=true; 
  }
  //window.location.href = "/";
}

load_index_page(); // loading function

</script>
{% endblock %}



{% block footer %}
{{ super() }}


{% endblock %}

