{% extends 'base.html' %}

{% block title %}Setting{% endblock %}
{% block head %}
  {{ super() }}
  <!--<style type="text/css">
    .important { color: #336699; }
  </style>
  -->
{% endblock %}
{% block content %}
<h1>INDEX PAGE</h1>

<h3>Test</h3>

<div class="index_Test" style="display:flex">
  <!-- [Setting Part] -->
  <div class="index_Test__setting" style="width:50%" >
    <h3 class="setting_header">Test Setting</h3>
      <div class="setting_button" style="display:flex">
        
        <form class="index__tcp_form" action="/tcp_test/" method="post">
          <button class="index__tcp_btn" type="submit" name="TCP_test" >TCP Test</button> 
        </form>

        <form class="index__sensor_form" action="/sensor_test/" method="post">
          <button class="index__sensor_btn" type="submit" name="Sensor_test" onclick="sensor_Btn_click()">Sensor Test</button> 
        </form>

        <form class="index__motor_form" action="/motor_test/" method="post">
          <button class="index__motor_btn" type="submit" name="Motor_test" onclick="motor_Btn_click()">Motor Test</button>   
        </form>

        <form class="index__camera_form" action="/camera_test/" method="post">
          <button class="index__camera_btn" type="submit" name="Camera_test" onclick="camera_Btn_click()">Camera Test</button>   
        </form>
    </div>
  </div>

  <!-- [Display Part] -->
  <div class="index_Test__status" style="width:50%">
    <h3 class="status_header"> Setting Display </h3>
    
    <div class="test_type">
      
      <span>Test : {{hidden_status}}</span>
      <span class="test_type__selection"></span>
    </div>

    <!-- (1) TCP Setting Display -->
    {% if hidden_status %}
      <div class="tcp_setting_display" > <!--Normal Status : Hidden-->
        <form action="/selected_test/tcp/" method="post">
          <select class="tcp_udp_selector">
            <option value="tcp">TCP</option>
            <option value="udp">UDP</option>
          </select>

          <label for="input_ip">IP : </label>
          <input type="text" id="input_ip" name="ip">
          <div style="display:flex">
            <input type="submit" value="Connect">
            <input type="submit" value="Cancel">
          </div>
        </form>
      </div>
    {% else %}
    
    {% endif %}


    <!-- (2) Sensor Setting Display -->
    <div class="sensor_setting_display">

    </div>

    <!-- (3) Motor Setting Display -->
    <div class="motor_setting_display">

    </div>

    <!-- (4) Camera Setting Display -->
    <div class="camera_setting_display">

    </div>


  </div>
</div> <!-- index_Test -->

{% endblock %}



{% block footer %}
{{ super() }}
<script>

class Index_Btn {
  constructor() {
    // Button DOM Setting
    document.querySelector(".index__tcp_btn").addEventListener("click",this.tcp_Btn_click);
    document.querySelector(".index__sensor_btn").addEventListener("click",this.sensor_Btn_click);
    document.querySelector(".index__motor_btn").addEventListener("click",this.motor_Btn_click);
    document.querySelector(".index__camera_btn").addEventListener("click",this.camera_Btn_click);
    
    // Span DOM Setting
    this.selected_test= document.querySelector(".test_type__selection");
    this.selected_test.innerHTML=" ";
    
    // Control Variable
    this.setting_type="None";
    /*
    - None
    - tcp
    - sensor
    - motor
    - camera
    */

   
  }

  /*  ___[ Button Click Function Setting ]___   */
  // (1) TCP Test Button Setting
  tcp_Btn_click=()=>{
    console.log("tcp_test button click");
    this.setting_type="tcp";
    console.log("this",this);

    const URL = '/tcp_test/';
    const xhr = new XMLHttpRequest();
    let sender = "asd";
    let postObj = { 
        id: 1, 
        title: "What is AJAX", 
        body: "AJAX stands for Asynchronous JavaScript..."
    }
    let post = JSON.stringify(postObj)

    xhr.open('POST', URL,true);
    xhr.setRequestHeader("Content-type", "application/json");
    xhr.send(post);
  }

  // (2) Sensor Test Button Setting
  sensor_Btn_click=()=>{
  console.log("sensor_test button click");
  const URL = '/sensor_test/';
  const xhr = new XMLHttpRequest();
  let sender = "asd";
  let postObj = { 
      id: 2, 
      title: "What is sadAJAX", 
      body: "AJAX stands for Asynchronous JavaScript..."
  }
  let post = JSON.stringify(postObj)

  xhr.open('POST', URL,true);
  xhr.setRequestHeader("Content-type", "application/json");
  xhr.send(post);

}

  // (3) Motor Test Button Setting
  motor_Btn_click=()=>{

  }

  // (4) Camera Test Button Setting
  camera_Btn_click=()=>{

  }

}
// - Class Definition End - 



function init_setting(){
  let test_clas=new Index_Btn(); // Button Class Obj
};

init_setting(); // class run

</script>
{% endblock %}


<!--
[Reference]
1. https://www.notion.so/this-624728fe40f644149f53a79217b14914


  
-->
