{% extends 'base.html' %}

{% block title %}Setting{% endblock %}
{% block head %}
  {{ super() }}
  <!--<style type="text/css">
    .important { color: #336699; }
  </style>
  -->
{% endblock %}

{% block content %}
<h3>Test</h3>

<div class="index_Test" style="display:flex">
    <!-- [Setting Part] -->
    <div class="index_Test__setting" style="width:50%" >
      <h3 class="setting_header">Test Setting</h3>
      <span class="User_IP">User IP : {{User_IP}}</span>
        <div class="setting_button" style="display:flex">
          
          <form class="index__tcp_form" action="/Test/tcp_test/" method="post">
            <button class="index__tcp_btn" type="submit" name="TCP_test" >TCP Test</button> 
          </form>
  
          <form class="index__motor_form" action="/Test/motor_test/" method="post">
            <button class="index__motor_btn" type="submit" name="Motor_test" onclick="motor_Btn_click()">Motor Test</button>   
          </form>

      </div>
    </div>
  
    <!-- [Display Part] -->
    <div class="index_Test__status" style="width:50%">
      <h3 class="status_header"> Setting Display </h3>
      
    <div class="test_type">
     <span>Selected Test : {{selected_test}}</span>
    </div>
  
{% if selected_test=="communication" %}
    <!-- (1) TCP Setting Display -->
    {% if is_commu_connect %}

    {% else %}
    <div class="tcp_setting_display" > <!--Normal Status : Hidden-->
        <form action="/Test/selected_test/commu/" method="post">
        <select class="tcp_udp_selector" name="tcp_or_udp">
            <option value="tcp">TCP</option>
            <option value="udp">UDP</option>
            <option value="serial">SERIAL</option>
        </select>

        <label for="input_ip">IP : </label>
        <input type="text" id="input_ip" name="ip">
        <div style="display:flex">
            <input type="submit" value="Connect">
            <input type="submit" value="Cancel" formaction="/Test/selected_test/cancel/">
        </div>
        </form>
    </div>
    {% endif %}

{% elif selected_test=="motor" %}
<div class="Motor_Test_Part" style="display:flex">

<div class="Motor_Test_Control"  style="width:30%">
  <div class="Motor_power">
    <label>Motor Power</label>

    <label class="switch">
      <input type="checkbox">
      <span class="slider"></span>
    </label>
  </div>
  <!--Motor Contril Part-->
  <div class="Motor_control">
    <label>Motor Control</label>
    <form action="/Test/selected_test/motor/control" method="post" onclick="click_motorCtrl_btn(event)">
      <!--Forward Button-->
      {% if selected_direction=="Forward" %}
      <input class="motor_ctrl_fw" style="background-color:lawngreen;" type="submit" value="Forward" formaction="/Test/selected_test/motor/control/Forward/">
      {% else %}
      <input class="motor_ctrl_fw" type="submit" value="Forward" formaction="/Test/selected_test/motor/control/Forward/">
      {% endif %}
      
      <!--Right Button-->
      {% if selected_direction=="Right" %}
      <input class="motor_ctrl_ri" style="background-color:lawngreen;" type="submit" value="Right" formaction="/Test/selected_test/motor/control/Right/">
      {% else %}
      <input class="motor_ctrl_ri" type="submit" value="Right" formaction="/Test/selected_test/motor/control/Right/">
      {% endif %}

      <!--Left Button-->
      {% if selected_direction=="Left" %}
      <input class="motor_ctrl_le" style="background-color:lawngreen;" type="submit" value="Left" formaction="/Test/selected_test/motor/control/Left/">
      {% else %}
      <input class="motor_ctrl_le" type="submit" value="Left" formaction="/Test/selected_test/motor/control/Left/">
      {% endif %}

      <!--Backward Button-->
      {% if selected_direction=="Backward" %}
      <input class="motor_ctrl_ba" style="background-color:lawngreen;" type="submit" value="Backward" formaction="/Test/selected_test/motor/control/Backward/">
      {% else %}
      <input class="motor_ctrl_ba" type="submit" value="Backward" formaction="/Test/selected_test/motor/control/Backward/">
      {% endif %}

      <!--Stop Button-->
      {% if selected_direction=="Stop" %}
      <input class="motor_ctrl_st" style="background-color:lawngreen;" type="submit" value="Stop" formaction="/Test/selected_test/motor/control/Stop/">
      {% else %}
      <input class="motor_ctrl_st" type="submit" value="Stop" formaction="/Test/selected_test/motor/control/Stop/">
      {% endif %}

    </form>
  </div>
</div> <!-- Motor_Test_Display End -->

<div class="Motor_Status_Display"  style="width:70%">
  <textarea readonly id="setting_display" name="setting_display" rows="10" cols="50">
    Motor is off
  </textarea>
</div> <!-- Motor_Status_Display End --> 

</div>

{% elif selected_test=="camera" %} 
<div class="col-lg-8  offset-lg-2">
    <h3 class="mt-5">Live Streaming</h3>
    <img src="{{ url_for('test.video_feed') }}" width="100%">
</div>
{% endif %} <!--Selected Test Case-->

{% endblock %}

{% block footer %}
{{ super() }}
<script>

    class Index_Btn {
      constructor() {
        // Button DOM Setting
        document.querySelector(".index__tcp_btn").addEventListener("click",this.tcp_Btn_click);
        document.querySelector(".index__sensor_btn").addEventListener("click",this.sensor_Btn_click);
        document.querySelector(".index__motor_btn").addEventListener("click",this.motor_Btn_click);
        document.querySelector(".index__camera_btn").addEventListener("click",this.camera_Btn_click);
        
        // Span DOM Setting
        this.selected_test= document.querySelector(".test_type__selection");
        this.selected_test.innerHTML=" ";
        
        // Control Variable
        this.setting_type="None";
        /*
        - None
        - tcp
        - sensor
        - motor
        - camera
        */
    
       
      }
    
      /*  ___[ Button Click Function Setting ]___   */
      // (1) TCP Test Button Setting
      tcp_Btn_click=()=>{
        console.log("tcp_test button click");
        this.setting_type="tcp";
        console.log("this",this);
    
        const URL = '/tcp_test/';
        const xhr = new XMLHttpRequest();
        let sender = "asd";
        let postObj = { 
            id: 1, 
            title: "What is AJAX", 
            body: "AJAX stands for Asynchronous JavaScript..."
        }
        let post = JSON.stringify(postObj)
    
        xhr.open('POST', URL,true);
        xhr.setRequestHeader("Content-type", "application/json");
        xhr.send(post);
      }
    
      // (2) Sensor Test Button Setting
      sensor_Btn_click=()=>{
      console.log("sensor_test button click");
      const URL = '/sensor_test/';
      const xhr = new XMLHttpRequest();
      let sender = "asd";
      let postObj = { 
          id: 2, 
          title: "What is sadAJAX", 
          body: "AJAX stands for Asynchronous JavaScript..."
      }
      let post = JSON.stringify(postObj)
    
      xhr.open('POST', URL,true);
      xhr.setRequestHeader("Content-type", "application/json");
      xhr.send(post);
    
    }
    
      // (3) Motor Test Button Setting
      motor_Btn_click=()=>{
    
      }
    
      // (4) Camera Test Button Setting
      camera_Btn_click=()=>{
    
      }
    
    }
    // - Class Definition End - 
    
    // Motor setting
    function click_motorCtrl_btn(event){
      console.log("motor c",event.target.value)
      if (event.target.value=="Forward"){
        document.querySelector(".motor_ctrl_fw").style.color="red";
      }else if(event.target.value=="Right"){
        document.querySelector(".motor_ctrl_ri").style.color="red";
      }else if(event.target.value=="Left"){
        document.querySelector(".motor_ctrl_le").style.color="red";
      }else if(event.target.value=="Backward"){
        document.querySelector(".motor_ctrl_ba").style.color="red";
      }else if(event.target.value=="Stop"){
        document.querySelector(".motor_ctrl_st").style.color="red";
      }
    }
    
    
    function init_setting(){
      let test_clas=new Index_Btn(); // Button Class Obj
      console.log('{{selected_direction}}');
    };
    
    init_setting(); // class run
    
    </script>
{% endblock %}