{% extends 'base.html' %}

{% block title %}Setting{% endblock %}
{% block head %}
  {{ super() }}
  <!--<style type="text/css">
    .important { color: #336699; }
  </style>
  -->
{% endblock %}
{% block content %}
<h1> Setting index test</h1>
<div class="Setting_Information">
  <p>Control is possible only when all communication connections are made.</p>
  <label for="setting_status">Setting Progress : </label>
  <progress class="setting_progress" id="setting_status" value="92" max="100"> 99% </progress>
</div>

<div class="Setting" style="display:flex">
<div class="Setting_Input_Block" style="width:30%">


  <h3 class="Communication_Setting__header">Communication Setting</h3>
  <div class="Communi_Setting">
    <span class="com1_connect_header"> Com1 Connect Setting </span>
    {% if is_connect1 %}
    <div class="Com1_connection_ok">
      <span class="connected_com1_status">Com1 is Connected</span>
      <div style="display:flex">
        <span class="connected_com1_ip">IP : </span>
        <span class="connected_com1_ip__value">{{ input_ip1 }} </span>
      </div>
      <div style="display:flex">
        <form action="/Setting/Communication/Com1_disconnect/" method="post">
        <input type="submit" value="Disconnect">
        </form>
      </div>
    </div>
    {% else %}
      <form action="/Setting/Communication/Com1_connect/" method="post">
        <div style="display:flex">
        <label for="input__ip1">COM1 IP </label>
        <input type="text" id="input__ip1" name="ip1">
        </div>
        
        <input type="submit" value="Connect">
      </form>
    {% endif %}

    <!-- ********************************************************************** -->
    
    <span class="com2_connect_header"> Com2 Connect Setting </span>
    {% if is_connect2 %}
      <div class="Com2_connection_ok">
        <span class="connected_com2_status">Com2 is Connected</span>
        <div style="display:flex">
          
          <span class="connected_com2_ip">IP : </span>
          <span class="connected_com2_ip__value"> {{ input_ip2 }} </span>
        </div>
        <div style="display:flex">
          <form action="/Setting/Communication/Com2_disconnect/" method="post">
          <input type="submit" value="Disconnect">
          </form>
        </div>
      </div>
    {% else %}
      <form action="/Setting/Communication/Com2_connect/" method="post">
        <div style="display:flex">
        <label for="input__ip2">COM2 IP </label>
        <input type="text" id="input__ip2" name="ip2">
        </div>

        <input type="submit" value="Connect">
      </form>
    {% endif %}

  </div> <!-- Communi Setting -->
</div> <!--Setting Input Block End -->

<div class="Setting_Display_Block" style="width:70%">

  <h3 class="setting_display__header">Setting Log</h3>
  <textarea readonly id="setting_display" name="setting_display" rows="10" cols="50">
    Communication settings are required.
  </textarea>
</div> <!--Setting Display Block End -->
</div>

<script>
  //let login= {{is_loginOK}};
// html render될때마다 변수 확인


function check_progress_var(){
  let progress_ratio=localStorage.getItem("progress_value");
  if (progress_ratio==null){
    progress_ratio=0;
  }else{
    progress_ratio=Number(progress_ratio)
  }
  //[1] Login Status Check (status progress ratio : 40%)
  let past_is_loginOK=localStorage.getItem("is_loginOK");
  
  if ("{{is_loginOK}}"=="True" && past_is_loginOK != "True"){
    localStorage.setItem("is_loginOK", "True");
    progress_ratio=progress_ratio+40;
  }else if ("{{is_loginOK}}"=="False"){
    localStorage.setItem("is_loginOK", "False");
    if (past_is_loginOK=="True"){
      progress_ratio=progress_ratio-40;
    }
  }
   

  //[2] Com1 Connection Check (status progress ratio : 30%)
  let past_is_connect1=localStorage.getItem("is_connect1");

  if ("{{is_connect1}}"=="True" && past_is_connect1!="True"){
    localStorage.setItem("is_connect1", "True");
    progress_ratio=progress_ratio+30;
  }else if ("{{is_connect1}}"=="False"){
    localStorage.setItem("is_connect1", "False");
    if (past_is_connect1=="True"){
      progress_ratio=progress_ratio-30;
    }
  }


  //[3] Com2 Connection Check (status progress ratio : 30%)
  let past_is_connect2=localStorage.getItem("is_connect2");

  if ("{{is_connect2}}"=="True"){
    localStorage.setItem("is_connect2", "True");
    progress_ratio=progress_ratio+30;
  }else if ("{{is_connect2}}"=="False"){
    localStorage.setItem("is_connect2", "False");
    if (past_is_connect2=="True"){
      progress_ratio=progress_ratio-30;
    }
  }
  
  //[4] Progress Bar Value Update
  document.querySelector(".setting_progress").value=progress_ratio;
  localStorage.setItem("progress_value", progress_ratio);

  //[5] All condition Check
  let login_status=localStorage.getItem("is_loginOK");
  let is_connect1=localStorage.getItem("is_connect1");
  let is_connect2=localStorage.getItem("is_connect2");
  
  if (login_status=="True" && is_connect1=="True" && is_connect2=="True"){
    console.log("Control is Avaiable!!");

    // local 저장소 데이터 초기화
    localStorage.removeItem('is_loginOK');
    localStorage.removeItem('is_connect1');
    localStorage.removeItem('is_connect2');
    localStorage.removeItem('progress_value');

  }else{
    console.log("Control isn't Avaiable!!");
  }
}

// function run
check_progress_var();

</script>
{% endblock %}

{% block footer %}
{{ super() }}

{% endblock %}